# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3

# Media / uploaded files
media/

# Static
staticfiles/

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

backend/hlo/local_data.json